<form action="/dashboard/addgym" method="POST">
  <div class="field">
    <label class="label">Gym Name</label>
    <input class="input" type="text" placeholder="Enter gym name" name="title" required>
  </div>
  <div class="field">
    <label class="label">Location</label>
    <input class="input" type="text" placeholder="Enter gym location" name="location" required>
  </div>
  <div class="field">
    <label class="label">Capacity</label>
    <input class="input" type="number" placeholder="Enter gym capacity" name="capacity" required>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <div class="select">
        <select name="category" required>
          <option value="CrossFit">CrossFit</option>
          <option value="Bodybuilding">Bodybuilding</option>
          <option value="Yoga">Yoga</option>
          <option value="Cardio">Cardio</option>
          <option value="Strongman">Strongman</option>
          <option value="Calisthenics">Calisthenics</option>
        </select>
      </div>
    </div>
  </div>
  <button class="button is-link">Add Gym</button>
</form>
